<section id="toc">
<h{{ config.MinHeadingLevel }} class="toc-header">Table of Contents</h{{ config.MinHeadingLevel }}>
<ul id="toc-list">
    {% for chapter in tree %}{% render "toc-block", item: chapter %}{% endfor %}
</ul>
</section>
