<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>An Appeal to Mothers (1864)</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/page.css" />
    <link rel="stylesheet" type="text/css" href="css/toc.css" />
    <link rel="stylesheet" type="text/css" href="css/cover.css" />
    <link rel="stylesheet" type="text/css" href="css/print.css" />

    <!-- <script src="dist/paged.polyfill.js"></script> -->
    <script src="dist/paged.js"></script>
    <!-- <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script> -->
    <link rel="stylesheet" type="text/css" href="css/preview.css" media="screen">
    <link rel="cover" href="images/6_l.jpg" />
    <!-- <script src="dist/test.js"></script> -->
</head>

<body>
</body>
</html>